@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');

* {
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Paytone One", sans-serif;
    color: #FFFFFF;
    font-weight: 200;
}

.container {
    margin-left: 10px;
    padding: 20px;
}

h1{
    border-bottom: 3px solid #40A0FF;
    font-weight: 600;
}

.logo {
    max-height: 40px;
    float: left;
}

#searchArea {
    margin-left: 10px;
    padding: 20px;
    text-align: center;
}

#searchForm {
    background-color: #0080FF;
    margin: 10px 20% 10px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #004A94;
    color: #000000;
}

#searchText {
    background-color: #FFFFFF;
    font-style: italic;
    font-weight: 200;
    padding: 8px;
    border-radius: 12px;
    width: 80%;
}

textarea:focus, input:focus {
    color: #000000;
}

#btn-search {
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #004A94;
    width: 100px;
}

.searchResults {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 0% 5% 0%;
}

.searchResults img {
    object-fit: contain;
    max-height: 250px;
    max-width: 150px;
    justify-content: center;
    margin-right: 20px;
}

.movieDescription {
    display: grid;
    grid-template-columns: 1fr 3fr;
    object-fit: contain;
    height: 250px;
    margin: 40px;
}

#videoList {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 20px;
}

iframe {
    height: 250px;
    border: 0;
    margin: 20px;
}
